@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2 class="text-success mb-4">Welcome to Student Registration</h2>

    <div class="d-grid gap-2 col-6 mx-auto">
        <a asp-action="Register" class="btn btn-outline-primary btn-lg">Register Student</a>
        <a asp-action="List" class="btn btn-outline-success btn-lg">View Student List</a>
    </div>
</div>
