@model CampusLink_Application.Models.Student

@{
    ViewData["Title"] = "Register Student";
}

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow-lg p-4 col-md-6">
        <h2 class="text-center text-info mb-4">Register New Student</h2>

        <form asp-action="Register" method="post" enctype="multipart/form-data">
            <div class="mb-3 text-center">
                <label asp-for="ImageFile" class="form-label">Profile Picture</label>
                <p class="text-muted">No profile picture uploaded yet.</p>
                <input asp-for="ImageFile" type="file" class="form-control mt-2 " accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input asp-for="FirstName" required class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input asp-for="LastName" required class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Gender" class="form-label">Gender</label>
                <select asp-for="Gender" required class="form-select">
                    <option value="">-- Select --</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="Age" class="form-label">Age</label>
                <input asp-for="Age" required class="form-control" type="number" />
            </div>
            <div class="mb-3">
                <label asp-for="EmailAdress" class="form-label">Email Address</label>
                <input asp-for="EmailAdress" required class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                <input asp-for="PhoneNumber" required class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="RegNo" class="form-label">Registration Number</label>
                <input asp-for="RegNo" required class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="BirthDate" class="form-label">Date Of Birth</label>
                <input asp-for="BirthDate" required class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label asp-for="CourseId">Course</label>
                <select asp-for="CourseId" class="form-control" asp-items="@(new SelectList(ViewBag.Courses, "CourseId", "CourseName"))">
                    <option value="">-- Select Course --</option>
                    
                </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DepartmentId">Department</label>
                <select asp-for="DepartmentId" class="form-control" asp-items="@(new SelectList(ViewBag.Departments, "Id", "DepartmentName"))">
                    <option value="">-- Select Department --</option>
                    
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Add Student</button>
                <button type="button" onclick="window.location.href='/'" class="btn btn-danger">Exit</button>
            </div>
        </form>
    </div>
</div>
